@import "./layout";
@import "./background-definitions";

#content {
  color: hsl(0 0% 93%);
  // font-family: "TWK Lausanne";
  @extend %content-align;
}

.article-block-flow {
  > * + * {
    margin-block-start: var(--space-s);
  }

  &:last-child {
    margin-bottom: var(--space);
  }
}

[data-content] {
  --line-height: 1.65em;
  color: var(--foreground-dark-dim-01);

  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
  }

  h2 {
    font-size: var(--idealArticleParagraphSize);
    font-weight: 600;
  }

  h3 {
    font-size: var(--idealHeadingThree);
  }

  p {
    line-height: var(--line-height);
    font-size: var(--idealArticleParagraphSize);
    font-weight: 300;
    text-wrap: pretty;
  }

  > * + h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: var(--space-s);
    margin-block-end: var(--space-xs);
  }

  * + blockquote,
  * + img {
    margin-block: var(--space-s);
  }

  blockquote {
    padding: var(--space-s);
    background-color: hsla(148, 35%, 10%, 0.969);
    border-radius: 5px;
    @extend %bg-grain;
  }

  > p + p {
    margin-block-start: calc(var(--space-xs) + 0.5em);
  }

  > * + li {
    margin-block: var(--space-xs);
  }

  li + li {
    margin-block-start: var(--space-xs);
  }

  ol + hr {
    border-block: none;
    margin-block: var(--space-s);
  }

  a {
    color: inherit;
    background-color: #63865669;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }
}
