@import "./layout";
@import "./background-definitions";

#content {
  font-family: "TWK Lausanne";
  @extend %content-align;
}

[data-content] {
  color: var(--foreground-dark-dim-01);

  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px dotted var(--foreground-dark-forest);
    display: inline-block;
  }

  h2 {
    font-size: var(--idealArticleParagraphSize);
    font-weight: 600;
  }

  h3 {
    font-size: var(--idealHeadingThree);
  }

  p {
    line-height: 1.5em;
    font-size: var(--idealArticleParagraphSize);
    font-weight: 300;
  }

  > p + h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--space-s);
    margin-bottom: var(--space-xs);
  }

  * + blockquote,
  * + img {
    margin: var(--space-xs) 0;
  }

  blockquote {
    padding: var(--space-xs);
    background-color: hsla(148, 35%, 10%, 0.969);
    border-radius: 5px;
    @extend %bg-grain;
  }

  > p + p {
    margin-top: var(--space-s);
  }

  > h2 + li,
  p + li {
    margin-top: var(--space-xs);
  }

  li + li {
    margin-top: calc(var(--space-xs) - 0.2em);
  }

  a {
    color: inherit;
    background-color: #63865669;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }
}
