%bg-grain {
  background-image: url("/static/images/bg-grain-dark.png");
  background-size: 200px 200px;
}
.obdk-bg {
  &__layer-one {
    top: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--background-dark-07);
    background-repeat: repeat;
    background-attachment: inherit;
    @extend %bg-grain;
  }
}
