:root {
  --tomato: hsla(360, 100%, 52%, 0.17);
  --background-dark: hsla(144, 17%, 8%, 1);
  --background-dark-07: hsla(144, 17%, 8%, 0.93);
  --foreground-dark: hsla(0, 0%, 100%, 1);
  --foreground-dark-dim: hsla(0, 0%, 100%, 0.68);
  --foreground-dark-forest: hsla(103, 100%, 92%, 0.49);
  --foreground-08: rgba(255, 255, 255, 0.8);
}
