@mixin degularCaps($weight, $size) {
  font-family: "Degular Variable";
  font-weight: $weight;
  font-size: $size;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

@mixin gestaltCaps($weight, $size) {
  font-family: "Gestalt";
  font-weight: $weight;
  font-size: $size;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
