%content-align {
  padding: 0 var(--space-s);
  max-width: 720px;
  margin-inline: auto;
}

.content-align {
  @extend %content-align;
}

[data-nav="home"] .nav {
  position: fixed;
  bottom: calc(50% - var(--space-s));
  left: 50%;
}

[data-nav="article"] .nav {
  position: fixed;
  bottom: 10px;
  left: 50%;
}
