$interpolate-min: 350px;
$interpolate-max: 1445px;

:root {
  @include interpolate(--space, $interpolate-min, $interpolate-max, 25px, 40px);

  @include interpolate(
    --idealBaseFontSize,
    $interpolate-min,
    $interpolate-max,
    12px,
    16px
  );

  @include interpolate(
    --idealSubFontSize,
    $interpolate-min,
    $interpolate-max,
    12px,
    14px
  );

  @include interpolate(
    --idealListingFontSize,
    $interpolate-min,
    $interpolate-max,
    20px,
    24px
  );

  @include interpolate(
    --idealArticleParagraphSize,
    $interpolate-min,
    $interpolate-max,
    14px,
    16px
  );

  @include interpolate(
    --idealHeadingOne,
    $interpolate-min,
    $interpolate-max,
    25px,
    32px
  );

  @include interpolate(
    --idealHeadingTwo,
    $interpolate-min,
    $interpolate-max,
    20px,
    25px
  );

  @include interpolate(
    --idealHeadingThree,
    $interpolate-min,
    $interpolate-max,
    20px,
    25px
  );

  @include interpolate(--idealBioFontSize, 350px, $interpolate-max, 16px, 30px);

  @include interpolate(
    --idealPoetryTitleFontSize,
    350px,
    $interpolate-max,
    25px,
    35px
  );

  @include interpolate(
    --idealStackedHeading,
    $interpolate-min,
    $interpolate-max,
    40px,
    128px
  );
  --space-s: calc(var(--space) / 2);
  --space-xs: calc(var(--space-s) / 2);
  --space-m: calc(var(--space) * 2);
  --space-l: calc(var(--space-m) * 2);
  --ideal-block-size: 150px;
  --size-background-base: 20em;
}
