@font-face {
  font-family: "Blanco";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/Blanco-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Blanco";
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/Blanco-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "Blanco";
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/Blanco-Bold.woff2") format("woff2");
}
