@font-face {
  font-family: "Degular Variable";
  src: url("/static/fonts/DegularVariable.woff2") format("woff2"),
    url("/static/fonts/DegularVariable.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
