@font-face {
  font-family: "Gestalt";
  src: url("/static/fonts/Gestalt-Regular.woff2") format("woff2"),
    url("/static/fonts/Gestalt-Regular.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}
