@font-face {
  font-family: "LeituraNews";
  src: url("/static/fonts/LeituraNews-Italic2.woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "LeituraNews";
  src: url("/static/fonts/LeituraNews-Italic3.woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "LeituraNews";
  src: url("/static/fonts/LeituraNews-Roman2.woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "LeituraNews";
  src: url("/static/fonts/LeituraNews-Roman4.woff");
  font-style: normal;
  font-weight: 700;
}
