@use "layout";
@use "typography" as t;

#article {
  @extend %content-align;
  font-family: t.$serif;
  font-family: Resolve;
}

p::selection {
  background-color: var(--forest-10);
}

.rostin-forest-title {
  font-family: "Rostin";
  font-size: var(--step-2);
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  margin-bottom: var(--space-s);
  position: relative;
  z-index: 1;
  text-decoration: underline;
  text-decoration-color: var(--border-color);
  text-underline-offset: 0.09em;
  text-decoration-thickness: 0.5px;

  &::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 1ch;
    top: 0;
    left: 0;
    background-color: var(--purple-10);
    z-index: -1;
  }
}

#morphism {
  font-family: t.$sans;
}

.article-block-flow {
  > * + * {
    margin-block-start: var(--space-s);
  }

  &:last-child {
    margin-bottom: var(--space);
  }
}

[data-content] {
  --line-height: 1.5em;
  color: var(--paragraph-100);

  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    margin-block-end: var(--space-xs);
    font-weight: calc(700 * var(--font-weight-multiplier, 1));
  }

  h2 {
    font-size: var(--idealArticleParagraphSize);
  }

  h3 {
    font-size: var(--idealHeadingThree);
  }

  p {
    line-height: var(--line-height);
    font-size: var(--step--1);
    font-weight: calc(400 * var(--font-weight-multiplier, 1));
    // font-weight: 400;
    text-wrap: pretty;
  }

  > * + h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: var(--space-s);
    margin-block-end: var(--space-xs);
    font-weight: 700;
  }

  * + blockquote,
  * + img {
    margin-block: var(--space-s);
  }

  blockquote {
    padding-left: var(--space-s);
    border-left: 0.4em solid #87a19e80;
    font-style: italic;
  }

  > p + p {
    margin-block-start: var(--space-xs);
  }

  > * + li {
    margin-block: var(--space-xs);
  }

  li + li {
    margin-block-start: var(--space-xs);
  }

  ol + hr {
    border-block: none;
    margin-block: var(--space-s);
  }

  a {
    color: inherit;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--border-color);
    text-underline-offset: 0.09em;
    text-decoration-thickness: 0.5px;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }
}

[data-content="morphism"] {
  --line-height: 1.4;
  color: var(--paragraph-100);

  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline-block;
    margin-block-end: var(--space-xs);
    font-weight: calc(700 * var(--font-weight-multiplier, 1));
  }

  h2 {
    font-size: var(--idealArticleParagraphSize);
  }

  h3 {
    font-size: var(--idealHeadingThree);
  }

  p {
    line-height: var(--line-height);
    font-size: var(--step-0);
    font-weight: calc(400 * var(--font-weight-multiplier, 1));
  }

  > * + h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-start: var(--space-s);
    margin-block-end: var(--space-xs);
    font-weight: 700;
  }

  * + blockquote,
  * + img {
    margin-block: var(--space-s);
  }

  blockquote {
    padding-left: var(--space-s);
    border-left: 0.4em solid #87a19e80;
    font-style: italic;
  }

  > p + p {
    margin-block-start: var(--space-xs);
  }

  > * + li {
    margin-block: var(--space-xs);
  }

  li + li {
    margin-block-start: var(--space-xs);
  }

  ol + hr {
    border-block: none;
    margin-block: var(--space-s);
  }

  a {
    color: inherit;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: var(--border-color);
    text-underline-offset: 0.09em;
    text-decoration-thickness: 0.5px;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }
}
