$sans: "Diatype";
$serif: "Blanco";
$grosteque: "Grosteque";
$condensed: "Galgo";
$mono: "Rostin";

// BLANCO
@font-face {
  font-family: $serif;
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/Blanco-Regular.woff2") format("woff2");
}

@font-face {
  font-family: $serif;
  font-style: italic;
  font-weight: 400;
  src: url("/static/fonts/Blanco-Italic.woff2") format("woff2");
}

@font-face {
  font-family: $serif;
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/Blanco-Bold.woff2") format("woff2");
}

// GALGO
@font-face {
  font-family: $condensed;
  font-style: normal;
  font-weight: 200 700;
  src: url("/static/fonts/GalgoVF.woff") format("woff");
  /* Latin glyphs */
  unicode-range: U+000-5FF;
}

// LAUSANNE
@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-200.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-300.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-300Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-500.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-550.woff2") format("woff2");
  font-style: normal;
  font-weight: 550;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-600.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "TWK Lausanne";
  src: url("/static/fonts/TWKLausanne-750.woff2") format("woff2");
  font-style: normal;
  font-weight: 750;
}

// ROSTIN
@font-face {
  font-family: "Rostin";
  src: url("/static/fonts/RF-Rostin-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Rostin";
  src: url("/static/fonts/RF-Rostin-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Rostin";
  src: url("/static/fonts/RF-Rostin-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

//GROSTESQUE
@font-face {
  font-family: $grosteque;
  font-style: normal;
  font-weight: 700;
  src: url("/static/fonts/Triptych-Grotesque.woff") format("woff");
}

@font-face {
  font-family: Diatype;
  font-style: normal;
  font-weight: 200 1000;
  src: url("/static/fonts/DiatypePlusVariable.woff2") format("woff2");
}

// DANFO
@font-face {
  font-family: "Danfo";
  src: url("/static/fonts/DanfoVF.woff");
  unicode-range: U+0020-007E, U+00A0-00AC, U+00AE-0113, U+0116-012B, U+012E-013E,
    U+0141-0148, U+014A-014D, U+0150-017E, U+0180-0181, U+0186-018A, U+018E-0194,
    U+0196-01A1, U+01A4-01A5, U+01A9, U+01AC-01B9, U+01C0-01C3, U+01CD-01F0,
    U+01F4-01F5, U+01F8-01F9, U+01FE-021B, U+021E-0220, U+0222-0223, U+0226-0233,
    U+0237, U+023A-023E, U+0241-024F, U+0251, U+0253-0254, U+0256-0257, U+0259,
    U+025B, U+0260, U+0263, U+0265-0266, U+0268-026C, U+026F, U+0272, U+0275,
    U+027D-027E, U+0283, U+0288-028C, U+0292, U+0294-0295, U+0298, U+029D,
    U+02B0, U+02B7-02B9, U+02BB-02BC, U+02BE-02C0, U+02C6-02C8, U+02CA-02CB,
    U+02D7-02DD, U+02EE, U+0300-0304, U+0306-030D, U+030F-0313, U+0315, U+031B,
    U+0323-0329, U+032D-0332, U+0334-0335, U+0358, U+03BB, U+03C0, U+03C7,
    U+0E3F, U+1D58, U+1D5B, U+1D7D, U+1DBB, U+1DBF, U+1DC4-1DC7, U+1DCA,
    U+1E00-1E95, U+1E9E, U+1EA0-1EF9, U+2013-2014, U+2016, U+2018-201A,
    U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033, U+2039-203A, U+2044,
    U+2074-2079, U+207F, U+2081-2089, U+20A1, U+20A6, U+20A8-20AE, U+20B1-20B2,
    U+20B4-20B5, U+20B8-20BA, U+20BC-20BF, U+2113, U+2116, U+2122, U+2126,
    U+212E, U+2144, U+2153-2154, U+2190-2199, U+2202, U+2205-2206, U+220F,
    U+2211-2212, U+221A, U+221E, U+222B, U+2248, U+2260, U+2264-2265,
    U+25A0-25A1, U+25AA-25AB, U+25B2-25B9, U+25BC-25C3, U+25C6-25C7, U+25CA-25CB,
    U+25CF, U+25E6, U+27E8-27E9, U+2C60-2C66, U+2C6D, U+2C72-2C73, U+3008-3009,
    U+A726-A727, U+A740-A741, U+A789-A78D, U+A7A8-A7AA, U+A7AD-A7AE, U+A7B2-A7B9,
    U+AB53, U+FF0D;
}
