@import "./fonts/degular";
@import "./fonts/gestalt";
@import "./utilities/resets";
@import "./utilities/interpolate";
@import "./utilities/generic-properties";
@import "./utilities/colors";
@import "./utilities/space-definitions";
@import "./utilities/size-definitions";
@import "./utilities/font-definitions";

html,
body {
  scroll-behavior: smooth;
  a {
    text-decoration: none;
  }

  -webkit-font-smoothing: antialiased;
  font-family: Gestalt;
  text-rendering: optimizeLegibility;
  //background-color: var(--background-dark);
}

// This class is added to html when spotify is playing
// It redices the opacity of the body color and toggles visibiliy of canvas element with noise
// reference - https://tobiasfried.com/helenazhang
.now-playing {
}
