@import "./fonts/degular";
@import "./fonts/mondwest";
@import "./fonts/gestalt";
@import "./fonts/lausanne";
@import "./utilities/resets";
@import "./utilities/interpolate";
@import "./utilities/generic-properties";
@import "./utilities/colors";
@import "./utilities/space-definitions";
@import "./utilities/size-definitions";
@import "./utilities/font-definitions";

html,
body {
  // scroll-behavior: initial;
  // overflow: hidden;
  a {
    text-decoration: none;
  }

  -webkit-font-smoothing: antialiased;
  font-family: "TWK Lausanne";
  text-rendering: optimizeLegibility;
}

html {
  background-color: var(--background-dark);
}

// html.lenis {
//   height: auto;
// }

// .lenis.lenis-smooth {
//   scroll-behavior: auto;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-scrolling iframe {
//   pointer-events: none;
// }

.hidden {
  visibility: hidden;
}

.fill-height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
